.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

h1 {
    text-align: center;
}

.searchbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
}

.card {
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}


/* We probably do want to crop and adjust these images so they're at least the same 16:9 aspect ratio */

.card img {
    width: 100%;
    border-radius: 7px;
}