.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

h1 {
    text-align: center;
}

.left-side-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4rem;
}
.hashtag-cloud ul{
    list-style-type: none;
}

.card {
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}


/* We probably do want to crop and adjust these images so they're at least the same 16:9 aspect ratio */

.card img {
    width: 100%;
    border-radius: 7px;
}
.right-side-content{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

.review-form{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}