<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catamaran</title>
    <link rel="stylesheet" href="../../css/category-layout.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../img/ship-icon.png">
</head>

<body>
    <header>
        <h1>Catamaran</h1>
        <div class="home-button">
            <a href="../../index.html"><img src="../../img/home.png" alt="Home Button"></a>
        </div>
    </header>
    <div class="main">
        <div class="reviews">
            <h2 th:text = "${category.name} + ' reviews'">Reviews for Catamaran</h2>
            <ul>
                <li th:each = "review: ${category.reviews}">
                    <a th:text = "${review.manufacturer} + ' ' + ${review.modelName}" th:href="'/review/' + ${review.id}">Chrysler Man'o'war</a>
                </li>
            </ul>
        </div>
<!--        <div class="photostack">-->
<!--            <ul>-->
<!--                <li class="photostack&#45;&#45;image-1">-->
<!--                    <h2>Beach Cat</h2>-->
<!--                    <a href="./beachcat.html"><img src="../../img/beachcat.jpg" alt="Stock photo of a cruising catamaran"></a>-->
<!--                    <li class="photostack&#45;&#45;image-2">-->
<!--                        <h2>Ocean Cat</h2>-->
<!--                        <a href="./oceancat.html"><img src="../../img/catamaran-photo.jpg" alt="Stock photo of a cruising catamaran"></a>-->
<!--                    </li>-->
<!--                    <li class="photostack&#45;&#45;image-3">-->
<!--                        <h2>Racing Cat</h2>-->
<!--                        <a href="./racingcat.html"><img src="../../img/catamaran-photo.jpg" alt="Stock photo of a cruising catamaran"></a>-->
<!--                    </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>

</body>

</html>