<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RateCraft</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/home-layout.css">
</head>

<body>
    <header class="page-header">
        
        <div class="navbar">
            <div class="left-side-content">
                <form action="#" class="searchbox">
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit">Go</button>
                </form>

                <div class="hashtag-cloud">
                    <ul>
                        <li th:each = "hashtag: ${hashtags}">
                            <a th:text = "'#' + ${hashtag.name}" th:href="'/hashtags/' + ${hashtag.id}">#cruisers</a>
                        </li>
                    </ul>

                </div>

                
            </div>
            <h1>RateCraft</h1>
            <div class="right-side-content">
                
                <form action="/review" method="post" class="review-form">
                    <h3 class="review-form-header">Submit a Review</h3>
                    <label for="boat-category-id">Boat Type</label>
                    <select id="boat-category-id" name="bcategory">
                        <option th:each="category: ${categories}" th:text="${category.name}" th:value="${category.id}">Catamaran</option>
                    </select>

                    <label for="bmakename">Make</label>
                    <input type="text" id="bmakename" name="bmakename">
                    <label for="bmodelname">Boat Model</label>
                    <input type="text" id="bmodelname" name="bmodelname">
                    <label for="description">Description</label>
                    <input type="text" id="description" name = "description">
                    <button type="submit">Go</button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="main-cards">
            <div th:each = "category: ${categories}" class="card">
                <a th:href="'category/' + ${category.id}"><p th:text="${category.name}">Catamaran</p>
                    <img th:src="'img/' + ${category.name} + '-photo_cropped.jpg'" th:alt="'Photo of a ' + ${category.name}" class="card-image">
                </a>
            </div>
        </div>
    </main>
</body>

</html>