<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach Cats</title>
    <link rel="stylesheet" href="../../css/category-layout.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../img/ship-icon.png">
</head>

<body>
    <header>
        <h1>Beach Cats</h1>
        <div class="home-button">
            <a href="../../index.html"><img src="../../img/home.png" alt="Home Button"></a>
        </div>
    </header>
    <main>


    </main>





</body>

</html>