<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach Cats</title>
    <link rel="stylesheet" href="../../css/category-layout.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../img/ship-icon.png">
</head>

<body>
    <header>
        <h1>Beach Cats</h1>
        <div class="back-button">
            <a href="./index.html">Back</a>
        </div>
        <div class="home-button">
            <a href="../../index.html"><img src="../../img/home.png" alt="Home Button"></a>
        </div>
    </header>
    <main>
        <div class="review">
            <div class="craft-score">
                <ul>
                    <li>Speed: </li>
                    <li>Comfort: </li>
                    <li>Multi-day trip suitability: </li>
                    <li>Cool-factor: </li>
                    <li>Price: </li>
                    <li>Practicality: </li>
                </ul>
            </div>
            <div class="review-body">
                <p>Ut nec convallis justo. Donec a nisl urna. Donec consectetur elementum ex porta egestas. Donec tristique purus quis commodo luctus. Praesent ultrices eros sit amet felis eleifend, porta consequat massa consequat. Mauris sit amet posuere
                    tellus. Vivamus convallis, ex in posuere aliquam, felis sapien vulputate enim, eu faucibus eros sem et neque. Duis in erat id velit pellentesque aliquet feugiat vitae enim. Sed interdum est lorem. Vestibulum aliquet nulla nisl, ac
                    tempus ipsum accumsan congue.
                </p>


            </div>
        </div>

    </main>

</body>

</html>